__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/
*.pt
*.pth
*.onnx
runs/
detectpechay_repo/
trycnn_repo/Healthy\ Pechay.v1i.yolov9/
*.md
!README.md

